@import "../import";

.node {
    .field--name-body {
        > div {
            padding: 20px 0;
            margin-bottom: 30px;
        }
        .two-col {
            display: flex;
            align-items: center;
            justify-content: center;
            .col-text {
                width: 60%;
            }
            .col-img {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after {
                    content: "";
                    height: 250px;
                    width: 250px;
                    background: #fbf9ec;
                    display: block;
                    position: absolute;
                    z-index: -1;
                    border-radius: 200px;
                    top: 0;
                    right: 100px;
                }
            }
        }
        .one-col {
            background: #fbf9ec;
        }
        .full-w {
            box-shadow: 0 0 0 100vmax #fbf9ec;
            clip-path: inset(0 -100vmax);
            padding: 50px 0;
        }
    }
}