@import "../import";

#block-views-block-product-homepage-teasers-block-3,
#block-views-block-product-homepage-teasers-block-4,
#block-views-block-product-homepage-teasers-block-5,
#block-views-block-product-homepage-teasers-block-6,
#block-views-block-product-homepage-teasers-block-7 {
  margin-bottom: 72px;
  .content {
    .view-product-homepage-teasers {
      .view-header {
        margin-bottom: 2.5rem;
      }
      .view-content.row {
        .teaser-item-list {
          ul {
            &.row {
              padding: 0;
            }
            li {
              list-style: none;
              margin-bottom: 2.5rem;
              .views-field {
                .field-content {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .teaser-text {
                    h4 {
                      font-size: 20px;
                    }
                  }
                  .teaser-image {
                    margin-bottom: 15px;
                    img {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .view-footer {
        a {
          color: $primary-shade;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

#block-views-block-product-homepage-teasers-block-7 {
  .content {
    .view-product-homepage-teasers {
      // .view-header {
      // }
      .view-content.row {
        .teaser-item-list {
          ul {
            li {
              .views-field {
                .field-content {
                  background: $gray-100;
                  border-radius: 5px;
                  box-shadow: 0 2px 8px $gray-200;
                  .teaser-text {
                    text-align: center;
                    min-height: 60px;
                  }
                  .teaser-image {
                    min-height: 240px;
                    display: flex;
                    align-items: center;
                    min-width: 100%;
                    padding: 10px 0;
                    img {
                      width: auto;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}